<br>
<div class="row animated fadeIn fast">
    <div class="col-md-4">
        <img [src]="producto.img" class='img-fluid rounded-circle' [alt]="producto.nombre">
        <br><br>
        <a [routerLink]="['/productos']" class="btn btn-outline-primary btn-block">Regresar</a>
    </div>

    <div class="col-md-8">
        <h3>{{ producto.nombre }}</h3>
        <hr>
        <p>
            {{ producto.biolarga }}
        </p>
        <div>
            <h5>{{ producto.tipo }}</h5>
        </div>
    </div>

</div>

<br>
<hr>
<br>