<div class="card animated fadeIn fast">
    <img class="card-img-top" [src]="pez.img " [alt]="pez.nombre" width="500" height="300">
    <div class="card-body">
        <h5 class="card-title">{{ pez.nombre }}</h5>
        <p class="card-text">{{ pez.bio }}</p>

        <button (click)="verPez()" type="button" class="btn btn-outline-primary btn-block">
            Ver más...
        </button>
        <button (click)="editFish()" type="button" class="btn btn-outline-primary btn-block">
            Editar
        </button>
        <button (click)="deleteFish()" type="button" class="btn btn-outline-primary btn-block">
            Eliminar
        </button>
    </div>
</div>