<div class="card animated fadeIn fast">
    <img class="card-img-top" [src]="producto.img " [alt]="producto.nombre" idth="500" height="300">
    <div class="card-body">
        <h5 class="card-title">{{ producto.nombre }}</h5>
        <p class="card-text">{{ producto.bio }}</p>

        <button (click)="verProducto()" type="button" class="btn btn-outline-primary btn-block">
            Ver más...
        </button>
    </div>
</div>