<div class="jumbotron-fluid animated fadeIn fast text-center" style="background-color: rgb(0, 0, 0);">
    <div class="container">
        <h1 class="display-6" style="background-color: rgb(112, 109, 109);" style="color:white">Información de contacto</h1>
    </div>
</div>
<br>


<div class="row">

    <!-- Grid column -->
    <div class="col-md-6">

        <!-- Content -->
        <br>
        <h5 class="text-center" style="color: rgb(128, 126, 126);">HORARIOS</h5>
        <ul id="ul" class=" list-unstyled text-center" style="color: rgb(128, 126, 126);">
            <li>De Lunes a Viernes de 10:30 a 13:00 - 16:30 a 19:00</li>
            <li>Sábados de 10:00 a 19:00</li>
        </ul>
    </div>
    <!-- Grid column -->

    <hr class="clearfix w-100 d-md-none pb-4">

    <!-- Grid column -->
    <div class="col-md-4 mb-md-0 mb-4">

        <!-- Links -->
        <br>
        <h5 class="text-center" style="color: rgb(128, 126, 126);">CONTACTO</h5>

        <ul class="list-unstyled text-center" id="ul-redes" style="color: rgb(128, 126, 126);">
            <li>
                <a href="https://es-la.facebook.com/pages/category/Pet-Service/Acuario-Neodis-1808965036004155/" target="_blank"><i class="fa fa-facebook" aria-hidden="true" style="color: rgb(128, 126, 126);"> Facebook</i></a>
            </li>
            <li>
                <a href="https://www.instagram.com/acuarioneodis5180/?hl=es-la" target="_blank"><i class="fa fa-instagram" aria-hidden="true" style="color: rgb(128, 126, 126);"> Instagram</i></a>
            </li>
            <li>
                <a href="https://www.google.com.ar/maps/place/Acuario+Neodis/@-34.6667351,-58.4792025,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcc9cf3f26eefd:0xeb9fecc688bd277c!8m2!3d-34.6667395!4d-58.4770138" target="_blank"><i class="fa fa-map-marker" aria-hidden="true" style="color: rgb(128, 126, 126);"> Miralla 3088, Villa Lugano (CABA)</i></a>
            </li>
        </ul>

    </div>

    <div>
        <hr>
        <h5 class="text-center" style="color: white">CÓMO LLEGAR:</h5>
        <br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6562.739865617986!2d-58.48076722396198!3d-34.670611821768745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc9cf3f26eefd%3A0xeb9fecc688bd277c!2sAcuario%20Neodis!5e0!3m2!1ses-419!2sar!4v1605308989073!5m2!1ses-419!2sar"
            width="1110" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        <hr>
        <br>
    </div>