<div class="jumbotron-fluid animated fadeIn fast text-center" style="background-color: rgb(0, 0, 0);">
    <div class="container">
        <h1 class="display-4" style="background-color: rgb(112, 109, 109);" style="color:white">Acuario Neodis</h1>
    </div>
</div>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="assets/img/home-10.png" alt="First slide" width="1110" height="450">
            <div class="container">
                <div class="carousel-caption text-center">
                    <h3>Encontrá los mejor para tus peces acá.</h3>
                </div>
            </div>
        </div>
        <div class="carousel-item ">
            <img class="d-block w-100 " src="assets/img/home-12.png" alt="Third slide " width="1110" height="450">
            <div class="container ">
                <div class="carousel-caption text-center ">
                    <h3>Variedad de peceras.</h3>
                </div>
            </div>
        </div>
        <div class="carousel-item ">
            <img class="d-block w-100" src="assets/img/home-13.png" alt="Third slide " width="1110" height="450">
        </div>
    </div>
</div>

<main role="main ">
    <div class="container marketing ">
        <hr class="featurette-divider ">
        <div class="row featurette ">
            <div class="col-md-7 ">
                <h2 class="featurette-heading " style="color:white">Peces marinos <span class="text-muted ">Tetra Black Neon</span></h2>
                <p class="lead " style="color: rgb(128, 126, 126);">Estos peces son de agua dulce, son de temperamento tranquilo, viven en temperaturas de 21º a 28ºC y llevan a cabo una dieta Omnívora.</p>
            </div>
            <div class="col-md-5 ">
                <img class="featurette-image img-fluid mx-auto " src="assets/img/tetra_clack_neon.jpg " alt="Generic placeholder image " width="400" height="400">
            </div>
        </div>

        <hr class="featurette-divider ">

        <div class="row featurette ">
            <div class="col-md-7 order-md-2 ">
                <h2 class="featurette-heading " style="color:white">Peces de agua dulce <span class="text-muted ">Espada Koi.</span></h2>
                <p class="lead " style="color: rgb(128, 126, 126);">Son peces generalmente pacíficos, (a veces algún macho se torna agresivo ) que conviven con otras especies. Es un pez muy pacífico y espabilado. El cola de espada es resistente, lo que quiere decir que se adapta bien al acuario comunitario,
                    siempre y cuando la calidad de agua sea buena. Hay alguna rivalidad entre los machos, pero los cola de espada conviven bien con otras especies, aunque puede molestar a especies menores.</p>
            </div>
            <div class="col-md-5 order-md-1 ">
                <img class="featurette-image img-fluid mx-auto " src="assets/img/espada_koi.png" alt="Generic placeholder image " width="400" height="400">
            </div>
        </div>

        <hr class="featurette-divider ">

        <div class="row featurette ">
            <div class="col-md-7 ">
                <h2 class="featurette-heading " style="color:white">Peces de agua dulce <span class="text-muted ">Peces Ancistrus.</span></h2>
                <p class="lead " style="color: rgb(128, 126, 126);">Se trata de un pez pacífico, apreciado por su gusto por las algas y su tamaño moderado (10 cm). ... La temperatura ideal para este pez se encuentra entre los 24 y los 28 ºC, ya que proviene de aguas cálidas. Es un pez principalmente herbívoro,
                    que eliminará incansablemente cualquier crecimiento de algas en el acuario.</p>
            </div>
            <div class="col-md-5 ">
                <img class="featurette-image img-fluid mx-auto " src="assets/img/Ancistrus.jpg " alt="Generic placeholder image " width="400" height="400">
            </div>
        </div>

        <hr class="featurette-divider ">
        <br>

        <!-- /END THE FEATURETTES -->

    </div>
    <!-- /.container -->

</main>

<!-- Bootstrap core JavaScript
  ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN " crossorigin="anonymous "></script>
<script>
    window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js "><\/script>')
</script>
<script src="../../assets/js/vendor/popper.min.js "></script>
<script src="../../dist/js/bootstrap.min.js "></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="../../assets/js/vendor/holder.min.js "></script>