<div class="jumbotron-fluid animated fadeIn fast text-center" style="background-color: rgb(0, 0, 0);">
    <div class="container">
        <h1 class="display-6" style="background-color: rgb(112, 109, 109);" style="color:white">Productos y Alimentos</h1>
    </div>
</div>
<br>


<div class="card-columns">
    <app-producto-tarjeta (productoSeleccionado)="verProducto( $event )" [producto]="foo" [index]="i" *ngFor="let foo of productos; let i = index"></app-producto-tarjeta>

</div>

<hr>
<br>