<div class="jumbotron-fluid animated fadeIn fast text-center" style="background-color: rgb(0, 0, 0);">
    <div class="container">
        <h1 class="display-6" style="background-color: rgb(112, 109, 109);" style="color:white">Peces</h1>
    </div>
</div>
<br>


<div class="card-columns">
    <!--*ngFor="let pez of peces; let i = index"-->
    <app-pez-tarjeta (pezSeleccionado)="verPez( $event )" [pez]="foo" [index]="i" *ngFor="let foo of peces; let i = index"></app-pez-tarjeta>

</div>

<hr>
<br>