<form id="formulario">
    <div class="form-group">
        <label>Usuario:</label>
        <input type="usser" [(ngModel)]="usser" name="usser" class="form-control" id="usser" placeholder="Ingrese usuario" required="required">
    </div>
    <div class="form-group">
        <label>Contraseña:</label>
        <input type="password" [(ngModel)]="password" name="password" class="form-control" id="password" placeholder="Ingrese usuario" required="required">
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Guardar contraseña</label>
    </div>
    <button type="submit" class="btn btn-primary" (click)="save()">Ingresar</button>
</form>
<hr>
<br>
<hr>
<br>