<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" navbar-toggler-right type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon "></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a class="navbar-brand" href="#">Acuario Neodis</a>
        <ul class="navbar-nav mr-auto">
            <li>
                <a class="nav-link btn-outline-primary" [routerLink]="[ 'home'] ">Inicio</a>
            </li>
            <li>
                <a class="nav-link btn-outline-primary" [routerLink]="[ 'peces'] ">Peces</a>
            </li>
            <li>
                <a class="nav-link btn-outline-primary" [routerLink]="[ 'productos'] ">Productos y Alimentos</a>
            </li>
            <li>
                <a class="nav-link btn-outline-primary" [routerLink]="[ 'contacto'] ">Contacto</a>
            </li>
            <li>
                <a class="nav-link btn-outline-primary" [routerLink]="[ 'login'] ">ADMIN</a>
            </li>
        </ul>

        <div class="form-inline my-2 my-lg-0 ">
            <input class="form-control mr-sm-2 " type="text " placeholder="¿Qué buscas? " (keyup.enter)="buscarPez(buscarTexto.value) " #buscarTexto>
            <button (click)="buscarPez(buscarTexto.value) " class="btn btn-outline-primary my-2 my-sm-0 " style="color:white " type="button ">Buscar</button>
        </div>
    </div>
</nav>