<h1>Buscando: {{ termino }}</h1>
<hr>

<div class="row animated fadeIn fast " *ngIf="peces.length == 0 && productos.length == 0">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            No existen resultados con el termino {{ termino }}
        </div>

    </div>

</div>

<div class="card-columns">

    <app-pez-tarjeta [pez]="vpez" [index]="vpez.idx" *ngFor="let vpez of peces"></app-pez-tarjeta>
    <app-producto-tarjeta [producto]="vproducto" [index]="vproducto.idxx" *ngFor="let vproducto of productos"></app-producto-tarjeta>

</div>