/* You can add global styles to this file, and also import other style files */

body {
    padding-bottom: 50px;
    background-color: black;
}

.main-container {
    margin-top: 20px;
}

.img-logo {
    width: 120px;
}


/*WhatsApp*/

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.float:hover {
    text-decoration: none;
    color: #25d366;
    background-color: #fff;
}

.my-float {
    margin-top: 16px;
}

.footer {
    position: inherit;
    bottom: 0;
    width: 100%;
    height: 150px;
    left: 0;
    background-color: #313030;
    color: white;
    text-align: center;
}

#ul {
    list-style: none;
    text-align: center;
}

#footer-2 {
    background-color: #007BFF;
}


/*Animaciones*/

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}