<br>

<div class="row animated fadeIn fast ">


    <div class="col-md-4">
        <img [src]="pez.img" class='img-fluid rounded-circle' [alt]="pez.nombre">
        <br><br>
        <a [routerLink]="['/peces']" class="btn btn-outline-primary btn-block">Regresar</a>
    </div>

    <div class="col-md-8">
        <h3>{{ pez.nombre }}</h3>
        <hr>
        <p>
            {{ pez.biolarga }}
        </p>
        <div>
            <h5>{{ pez.tipo }}</h5>
        </div>
    </div>

</div>

<br>
<hr>
<br>