<div>
    <div class="form-group">
        <label for="exampleFormControlSelect1" style="color: white;">Nombre del Pez:</label>
        <input type="text" class="form-control" placeholder="Nombre" id="nombre" [(ngModel)]="nombre">
        <label for="exampleFormControlSelect1" style="color: white;">Descripción corta:</label>
        <input type="text" class="form-control" placeholder="Descripción" id="bio" [(ngModel)]="bio">
        <label for="exampleFormControlSelect1" style="color: white;">Descripción larga:</label>
        <input type="text" class="form-control" placeholder="Descripción" id="biografia" [(ngModel)]="biografia">
        <label for="exampleFormControlSelect1" style="color: white;">Tipo de Pez:</label>
        <select class="form-control" id="tipo" [(ngModel)]="tipo">
          <option>Seleccione una opción</option>
          <option> Agua Fría</option>
          <option>Agua Tropical</option>
        </select>
        <label for="exampleFormControlFile1" style="color: white;">Imagen:</label>
        <input type="file" class="form-control-file" id="img" [(ngModel)]="img">
    </div>

    <button (click)="nuevo()" class="btn btn-outline-primary btn-block">Guardar</button>
</div>
<hr>
<br>
<hr>
<br>